:root{
  
/* Primary */

--Orange: hsl(25, 97%, 53%);

/* Neutral */

--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--LightBlue:hsl(212, 17%, 22%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);
}

body{
  background-color: var(--VeryDarkBlue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Overpass";
}

main{
background-image: linear-gradient(hsl(213, 19%, 18%),hsla(213, 19%, 18%,.5));
border-radius: 20px;
max-width: 430px;
display: flex;
flex-direction: column;
padding: 30px;
}

.rating-state{
  margin-bottom: 30px;
}

.rating-state img{
  background-color: var(--LightBlue);
  padding: 15px;
  border-radius: 30px;
}

.title{
  margin-bottom: 10px;
}

.text{
  margin-bottom: 30px;
  color: var(--LightGrey);
}

.btns-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btns-wrapper button{
  padding: 12px 20px;
  border-radius: 100px;
  border: none;
}

.submit-btn{
  padding: 10px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  background-color: var(--Orange);
}

.selectedbtn{
  background-color: var(--White);
  color: var(--VeryDarkBlue);
}

.unselectedbtn{
  background-color: var(--LightBlue);
  color: var(--White);
}

.submit-btn:hover{
  cursor: pointer;
  background-color: var(--White);
}

.btns-wrapper button:hover{
  cursor: pointer;
  background-color: var(--Orange);
  color: var(--VeryDarkBlue);
  font-size: 1rem;
  font-weight: 700;
}

/* thankyou screen css */

.thankyou-screen{
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.thankyou-screen img{
 margin-bottom: 30px;
 max-width: 200px;
}

.result-wrapper{
  background-color: var(--LightBlue);
  padding: 8px 20px;
  border-radius: 30px;
  color: var(--Orange);
  font-size: .9rem;
  margin-bottom: 35px;
}

.thankyou-screen h1{
  margin-bottom: 15px;
}

.thankyou-screen .text{
  text-align: center;
  max-width: 400px;
  font-size: .9rem;
  margin-bottom: 0;
}